{% extends 'base.html.twig' %}



{% block title %}Detail du stage : {{ stage.titre }} {% endblock %}

{% block body %}
    <div class="col-md-12">
			<div>
				<dt>Titre du stage :  
                </dt>
                <dd>{{ stage.titre }}</dd>
                
                <dt> Recruteur du stage :  
                </dt>
                <dd>{{stage.entreprise.nom}}</dd>

                <dt>Description du stage :  
                </dt>
                <dd>{{ stage.description }}</dd>

                <dt>Adresse de l'entreprise :  
                </dt>
                <dd>{{ stage.entreprise.adresse}}</dd>

                <dt> Activité : </li>
                </dt>
                <dd>{{ stage.entreprise.activite }}</dd>

                <dt> Mail de contact :  
                </dt>
                <dd>{{stage.email}}</dd>

                <dt>  Formation(s) requise(s) : 
                </dt>
                <dd>{% for formation in stage.formation %}
                     {{formation.nomCourt}}
                </dd>
                {% endfor %}
               
            </div>
		</div>
        

     {% endblock %}
     

