{% extends 'base.html.twig' %}



{% block title %}Voici la liste des detail de stages {% endblock %}

{% block body %}
    <div class="col-md-8">
			<p>
				<p><li>Titre du stage : {{ stage.titre }}</li></p>
               <p><li> Recruteur du stage : {{stage.entreprise.nom}}</li></p>
            <p><li> Description du stage : {{ stage.description }} </li></p>
            {# <li> Formation(s) requise(s) : {{formation.nom}}</li> #}
           <p> <li> Mail de contact : {{stage.email}}</li></p>
            </p>
		</div>

     {% endblock %}

