{% extends 'base.html.twig' %}



{% block title %}Voici la liste des stages par Entreprise {% endblock %}

{% block body %}
<div class="col-md-8">

    <table class="table">
				<thead>
					<tr>
						<th>
							#ID
						</th>
						<th>
							Nom
						</th>
						<th>
							Domaine
						</th>
						<th>
							URL
						</th>
					</tr>
				</thead>
				<tbody>
{% for uneEntreprise in entreprises %}

					
					<tr class="table-success">
						<td>
							{{ uneEntreprise.ID }}
						</td>
						<td>
							<li><code><a href=" ./stage/{{uneEntreprise.ID }}">{{ uneEntreprise.nom }}</a></code></li>
						</td>
						<td>
								{{ uneEntreprise.activite }}
						</td>
						<td>
							 {{uneEntreprise.URLsite }}
						</td>
					</tr>
{% endfor %}
					
				</tbody>
			</table>
		</div>
    

     {% endblock %}
