{% extends 'base.html.twig' %}

{% block title %}Stage par entreprise {% endblock %}

{% block menu %}
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<center>
							<a  href="{{ '/' }}"> <img src="{{asset('./Logo_prostages.png')}}" class="rounded" alt="logo ProStages"></a>
						</center>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<center>
							<a href="{{ '/entreprises'}}"> <button type="button">Filtrer par entreprises </button></a>
							<a href="{{ '/formations'}}"> <button type="button">Filtrer par Formation </button></a>
							<a href="{{ '/AjouterEntreprise'}}"> <button type="button">Ajouter une entreprise </button></a>
							<a href="{{ path('Modifier-entreprise', {'nom' : nomEntreprise } ) }}"><button type="button">Modifier l'Entreprise  </button></a>
						</center>
				  </div>
			  </div>
	     </div>

   			{% endblock %}
{% block body %}
<div class="col-md-12">

    <table class="table">
				<thead>
					<tr>
						<th>
							#ID
						</th>
						<th>
							Nom du Stage
						</th>
						<th>
							Voir les stages
						</th>
					</tr>
				</thead>
				<tbody>
{% for unStage in stages %}

					
					<tr class="table-success">
						<td>
							{{ unStage.ID }}
						</td>
						<td>
							<dt> {{ unStage.titre }} </dt>
						</td>
						<td>
								{{ unStage.entreprise.nom}}
						</td>

						<td>
								{{ unStage.email }}
						</td>
						<td>
								<li><code><a href="{{ path('detail_stages', {'id' : unStage.ID }) }}">Voir aussi </a></code></li>
						</td>
					</tr>
{% endfor %}
					
				</tbody>
			</table>
		</div>
    

     {% endblock %}
